---
import ExternalIcon from "@components/icons/ExternalIcon.astro";
import Link from "@components/ui/Link.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getFormattedDate } from "@scripts/utils/handleDates";

interface Props {
	name: string;
	url: string;
	issuer: string;
	date: Date;
}

const { name, url, issuer, date } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const formattedDate = getFormattedDate(date, lang === "es" ? "es-ES" : "en-US", { month: "short" });
---

<article class="grid grid-cols-[30px_1fr] grid-rows-[auto_1fr] gap-x-4">
	<aside class="row-span-2 flex items-center">
		<time class="text-center text-xs text-nowrap text-neutral-500 uppercase" datetime={date + ""}>
			{formattedDate}
		</time>
	</aside>
	<header class="flex items-start justify-between gap-2">
		<h3 class="text-base font-semibold text-neutral-900">{name}</h3>
		<Link
			href={url}
			title={t("certificates.card.aria", name, issuer)}
			aria-label={t("certificates.card.aria", name, issuer)}
		>
			<ExternalIcon
				width={20}
				height={20}
				class="text-neutral-700 transition-colors hover:text-neutral-900"
			/>
		</Link>
	</header>
	<section class="flex items-center justify-between gap-2">
		<p>{issuer}</p>
	</section>
</article>
