@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
	--font-nunito-sans: "Nunito Sans", sans-serif;
	--max-width: 700px;
}
