@import "tailwindcss";

@theme {
	--neutral-50: #fbfbfc;
	--neutral-100: #f3f3f5;
	--neutral-200: #e8e8ea;
	--neutral-300: #dcdce0;
	--neutral-400: #d1d1d6;
	--neutral-500: #b2b2ba;
	--neutral-600: #a0a0b0;
	--neutral-700: #565660;
	--neutral-800: #2b2b30;
	--neutral-900: #161618;
	--background-color-light: var(--neutral-50);
	--background-color-dark: var(--neutral-900);
	--font-color-light: var(--neutral-50);
	--font-color-dark: var(--neutral-900);
	--box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
	--box-shadow-hover: 0px 6px 12px 0px rgba(0, 0, 0, 0.25);
	--border-radius-out: 5px;
	--border-radius-in: 2.5px;
	--max-width: 700px;
}
