---
import Section from "@components/layout/Section.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils.ts";
import type { Basics } from "@scripts/entities/basics.ts";

interface Props {
	about: Basics;
}

const { about } = Astro.props;
const { summary } = about;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("aboutMe.title")}>
	<p class="text-sm">{summary}</p>
</Section>
