---
import ExternalIcon from "@components/icons/ExternalIcon.astro";
import Section from "@components/layout/Section.astro";
import Link from "@components/ui/Link.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils.ts";
import type { Certificate } from "@scripts/entities/certificate.ts";
import { getFormattedDate } from "@scripts/utils/handleDates";

interface Props {
	certificates: Record<string, Certificate[]>;
}

const { certificates } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const sortedYears = Object.keys(certificates)
	.map(Number)
	.sort((a, b) => b - a);

const localeCode = lang === "es" ? "es-ES" : "en-US";
---

<Section title={t("certificates.title")}>
	<div class="flex flex-col gap-8">
		{
			sortedYears.map((year) => (
				<div class="flex flex-col gap-2">
					<span class="font-bold text-neutral-900">{year}</span>
					<ul class="ml-4 flex flex-col gap-4">
						{certificates[year].map(({ name, url, issuer, date }) => (
							<li class="relative gap-y-1 pl-4 before:absolute before:top-0 before:left-0 before:h-[calc(100%+16px)] before:w-px before:bg-neutral-200 before:content-[''] after:absolute after:top-1/2 after:left-0 after:h-px after:w-3 after:bg-neutral-200 after:content-[''] last:before:h-1/2">
								<article class="grid grid-cols-[30px_1fr] grid-rows-[auto_1fr] gap-x-4">
									<aside class="row-span-2 flex items-center">
										<time
											class="text-center text-xs text-nowrap text-neutral-500 uppercase"
											datetime={date + ""}
										>
											{getFormattedDate(date, localeCode, { month: "short" })}
										</time>
									</aside>
									<header class="flex items-start justify-between gap-2">
										<h3 class="text-base font-semibold text-neutral-900">{name}</h3>
										<Link
											href={url}
											title={t("certificates.card.aria", name, issuer)}
											aria-label={t("certificates.card.aria", name, issuer)}
										>
											<ExternalIcon
												width={20}
												height={20}
												class="text-neutral-700 transition-colors hover:text-neutral-900"
											/>
										</Link>
									</header>
									<section class="flex items-center justify-between gap-2">
										<p>{issuer}</p>
									</section>
								</article>
							</li>
						))}
					</ul>
				</div>
			))
		}
	</div>
</Section>
