---
import type { Basics } from "@entities/basics";
import Section from "@components/Section.astro";
import { getLangFromUrl, useTranslations } from "@utils/i18n";

interface Props {
	about: Basics;
}

const { about } = Astro.props;
const { summary } = about;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("aboutMe.title")}>
	<p class="text-sm">{summary}</p>
</Section>
