---
import type { Basics } from "@entities/basics.entity";
import Section from "@components/Section.astro";

interface Props {
	about: Basics;
}

const { about } = Astro.props;
const { summary } = about;
---

<Section title="Sobre mí">
	<p class="text-sm">{summary}</p>
</Section>
