---
import type { Certificate } from "@entities/certificate.entity";
import Section from "@components/Section.astro";
import CertificateCard from "@components/CertificateCard.astro";

interface Props {
	title: string;
	certificates: Certificate[];
}

const { title, certificates } = Astro.props;

const certificatesByYear = certificates.reduce(
	(acc, cert) => {
		const year = new Date(cert.date).getFullYear();
		(acc[year] = acc[year] || []).push(cert);
		return acc;
	},
	{} as Record<number, Certificate[]>
);

const sortedYears = Object.keys(certificatesByYear)
	.map(Number)
	.sort((a, b) => b - a);
---

<Section title={title}>
	<div class="flex flex-col gap-8 pl-5">
		{
			sortedYears.map((year) => (
				<div class="flex flex-col gap-1">
					<span class="-translate-x-3.5 text-sm font-medium text-neutral-600">
						{year}
					</span>
					<ul class="flex flex-col gap-4 border-l border-neutral-200">
						{certificatesByYear[year].map((certificate) => (
							<li>
								<CertificateCard certificate={certificate} />
							</li>
						))}
					</ul>
				</div>
			))
		}
	</div>
</Section>
