---
import Section from "@/components/Section.astro";
---

<Section title="Certificados">
	<ul class="list-disc pl-5">
		<li>
			<a
				href="https://www.coursera.org/account/accomplishments/certificate/2QZ3X8K7F9G4"
				target="_blank"
				rel="noopener noreferrer">Google Data Analytics Professional Certificate</a
			>
		</li>
		<li>
			<a
				href="https://www.coursera.org/account/accomplishments/certificate/2QZ3X8K7F9G4"
				target="_blank"
				rel="noopener noreferrer">Google Data Analytics Professional Certificate</a
			>
		</li>
	</ul>
</Section>
