---
import type { Education } from "@entities/education";
import Section from "@components/Section.astro";
import EducationCard from "@components/EducationCard.astro";
import { getLangFromUrl, useTranslations } from "@utils/i18n";

interface Props {
	education: Education[];
}

const { education } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("education.title")}>
	{education.map((education) => <EducationCard education={education} />)}
</Section>
