---
import EducationCard from "@components/EducationCard.astro";
import Section from "@components/Section.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils.ts";
import type { Education } from "@scripts/entities/education.ts";

interface Props {
	education: Education[];
}

const { education } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("education.title")}>
	{education.map((education) => <EducationCard education={education} />)}
</Section>
