---
import type { Education } from "@entities/education.entity";
import Section from "@components/Section.astro";
import EducationCard from "@components/EducationCard.astro";

interface Props {
	title: string;
	education: Education[];
}

const { title, education } = Astro.props;
---

<Section title={title}>
	{education.map((education) => <EducationCard education={education} />)}
</Section>
