---
import type { Experience } from "@entities/experience";
import ExperienceCard from "@components/ExperienceCard.astro";
import Section from "@components/Section.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

interface Props {
	experience: Experience[];
}

const { experience } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("experience.title")}>
	{experience.map((experience) => <ExperienceCard experience={experience} />)}
</Section>
