---
import type { Experience } from "@entities/experience";
import ExperienceCard from "@components/ExperienceCard.astro";
import Section from "@components/Section.astro";

interface Props {
	title: string;
	experience: Experience[];
}

const { title, experience } = Astro.props;
---

<Section title={title}>
	{experience.map((experience) => <ExperienceCard experience={experience} />)}
</Section>
