---
import type { Project } from "@entities/project";
import Section from "@components/Section.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { getLangFromUrl, useTranslations } from "@utils/i18n";

interface Props {
	projects: Project[];
}

const { projects } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("projects.title")}>
	<div class="project-section grid gap-4">
		{projects.map((project) => <ProjectCard project={project} />)}
	</div>
</Section>

<style>
	.project-section {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
</style>
