---
import type { Project } from "@entities/project";
import Section from "@components/Section.astro";
import ProjectCard from "@components/ProjectCard.astro";

interface Props {
	title: string;
	projects: Project[];
}

const { title, projects } = Astro.props;
---

<Section title={title}>
	<div class="project-section grid gap-4">
		{projects.map((project) => <ProjectCard project={project} />)}
	</div>
</Section>

<style>
	.project-section {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
</style>
