---
import Section from "@components/Section.astro";

interface Props {
	title: string;
	skills: string[];
}

const { title, skills } = Astro.props;
---

<Section title={title}>
	<ul class="flex flex-wrap gap-2">
		{
			skills.map((skill) => (
				<li class="rounded-sm bg-neutral-900 px-4 py-0.5 text-center text-sm leading-none font-semibold text-neutral-50 opacity-85">
					{skill}
				</li>
			))
		}
	</ul>
</Section>
