---
import Section from "@components/layout/Section.astro";
import ProjectCard from "@components/sections/projects/ProjectCard.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils.ts";
import type { Project } from "@scripts/entities/project.ts";

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const priorityProjects = projects.filter((project) => project.priority);
const otherProjects = projects.filter((project) => !project.priority);
---

<Section title={t("projects.title")}>
  {
    otherProjects.length > 0 && (
      <Fragment slot="section-header">
        <button
          class="relative flex cursor-pointer items-center gap-0.5 underline transition-colors hover:text-neutral-950"
          command="show-modal"
          commandfor="projects-modal"
        >
          +{otherProjects.length} mas
        </button>
      </Fragment>
    )
  }
  <div class="grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-4">
    {priorityProjects.map((project) => <ProjectCard project={project} />)}
  </div>
</Section>
